<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <h1>Books to read</h1>
</head>
<hr>
<body>
    <h2>
        <ol>
            <li>Rich Dad Poor Dad (Robert Kiyosaki)</li>
            <img src="../assets/books/81bsw6fnUiL._AC_UF894,1000_QL80_.jpg" height="200">
            <br><br>
            <li>Cashflow Quadrant (Robert Kiyosaki)</li>
            <img src="../assets/books/rich-dad-s-cashflow-quadrant-2.jpg" height="200">
            <br><br>
            <li>Entrepreneur's field guide(Nicholas Crown)</li>
            <img src="../assets/books/6119jtU44NL._AC_UF1000,1000_QL80_.jpg" height="200">
            <br><br>
            <li>One Up On Wall Street(Peter Lynch)</li>
            <img src="../assets/books/762462.jpg" height="200">
            <br><br>
        </ol>
    </h2>
</body>
<hr>
<footer>
    © Bryan Ang | All Rights Reserved
</footer>
<hr>
</html>