<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <h1>My Hobbies</h1>
</head>
<hr>
<body>
    <h2>
        <ol>
        <li>Reading</li>
        <small><small><p><a href="./books.html">Books I reccomend</a></p></small></small>
        <li>Watching Anime</li>
        <br><br>
        <li>Youtube</li>
    </ol>
</h2>
    
</body>
<hr>
<footer>
    © Bryan Ang | All Rights Reserved
</footer>
<hr>
</html>